
            <h3>Alerts</h3>
        
            <div class="alert alert-success">
                <strong>Success!</strong> This is a scucessful action!
            </div>
            <div class="alert alert-info">
               <strong>Info!</strong> We use this for informations!
            </div>
            <div class="alert alert-warning">
                <strong>Warning!</strong> Indicate a warning!
            </div>
            <div class="alert alert-danger">
                <strong>Danger!</strong> Indicate a dangerous or negative action!
            </div>
            <div class="alert alert-primary">
                <strong>Important!</strong> For imortant actions!
            </div>
            <div class="alert alert-secondary">
                <strong>Less important!</strong> For a less important actions!
            </div>
            <div class="alert alert-dark">
                <strong>Dark alert!</strong> Dark grey alert!
            </div>
            <div class="alert alert-light">
                <strong>Light alert!</strong> Light grey alert!
            </div>
    