<h3>Cards</h3>
<div class="container">
    <div class="row">
      <div class="col-sm-4 bg-danger backgroundMyRed">
        <div class="card">
          <img class="card-img-top" src="../uploads/img1.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Flower</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div><!--/card-->
      </div><!--/col-sm-4-->
      <div class="col-sm-4 bg-danger backgroundMyRed">
        <div class="card">
          <img class="card-img-top" src="../uploads/img1.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div><!--/card-->
      </div><!--/col-sm-4-->
      <div class="col-sm-4 bg-danger backgroundMyRed">
        <div class="card">
          <img class="card-img-top" src="../uploads/img1.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div><!--/card-->
      </div><!--/col-sm-4-->
      <div class="col-sm-4 bg-danger backgroundMyRed">
        <div class="card">
          <img class="card-img-top" src="../uploads/img1.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div><!--/card-->
      </div><!--/col-sm-4-->
      <div class="col-sm-4 bg-danger backgroundMyRed">
        <div class="card">
          <img class="card-img-top" src="../uploads/img1.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div><!--/card-->
      </div><!--/col-sm-4-->
      <div class="col-sm-4 bg-danger backgroundMyRed">
        <div class="card">
          <img class="card-img-top" src="../uploads/img1.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div><!--/card-->
      </div><!--/col-sm-4-->
    </div><!--/row 1-->
  </div><!--/container-->