<div class="container">
  <h3 class="text-center display-3 text-light">ORDER NOW</h3>
  <div class="alert alert-success" ng-show="successAlert">
    You entered new order successfuly!
  </div>
  <div class="alert alert-success" ng-show="successfullAlert">
    You updated this order successfuly!
  </div>
  <div class="alert alert-danger" ng-show="dangerAlert">
    Please fill in the form correctly!
  </div>
  <div class="container">

    <form name="myForm" class="text-light">

      <div class="form-group">
        <label for="first_name">First Name:</label>
        <div ng-show="myForm.first_name.$invalid"></div>
        <input type="text" class="form-control" placeholder="first name" name="first_name" id="first_name" ng-model="first_name" required/>
      </div>

      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <div ng-show="myForm.last_name.$invalid"></div>
        <input type="text" class="form-control" placeholder="last name" name="last_name" id="last_name" ng-model="last_name" required/>
      </div>

    <div class="form-group">
      <label for="order_method">Order Method:</label>
      <div ng-show="myForm.order_method.$invalid"></div>
      <select class="form-control" name="order_method" id="order_method" ng-model="order_method" required>
        <option value="CASH">CASH</option>
        <option value="TRANSACTION">TRANSACTION</option>
      </select>
    </div>

     <div class="form-group">
       <label for="card_number">Card Number:</label>
       <div ng-show="myForm.card_number.$invalid"></div>
       <input type="text" class="form-control" placeholder="card number" name="card_number" id="card_number" ng-model="card_number" maxlength="15" required/>
     </div>

      <div class="form-group">
       <label for="product_id">Product ID:</label>
      <div ng-show="myForm.product_id.$invalid"></div>
        <select class="form-control" name="product_id" id="product_id" ng-model="product_id" required> 
         <option value=""></option>
         <option ng-repeat="products in products" value="{{products.product_id}}">
            {{products.product_title}}
         </option>
       </select>
      </div>

      <div class="form-group">
        <button ng-show="checkUrl===undefined" class="btn btn-primary"
         ng-click="(myForm.first_name.$valid && myForm.last_name.$valid && myForm.order_method.$valid && myForm.card_number.$valid && myForm.product_id.$valid) 
         ? function_orders_details(first_name,last_name,order_method,card_number,product_id) : function_error()">SAVE</button>
     </div>

   </form>

  </div>

</div>