<h3 class="text-center display-3 text-light">ORDERS</h3>
<div class="table-responsive">
  <table class="table table-hover table-sm table-dark text-center">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Order method</th>
        <th>Card number</th>
        <th>Product Title</th>
        <th>Date&Time</th>
        <th>DELETE</th>
      </tr>
      <tr>
        <th>SEARCH IN ORDERS:</th>
        <th><input type="text" placeholder="Search by First Name" name="searchByFName" id="searchByFName" ng-model="searchByFName" /></th>
        <th><input type="text" placeholder="Search by Last Name" name="searchByLName" id="searchByLName" ng-model="searchByLName" /></th>
        <th></th>
        <th></th>
        <th>
          <select class="form-control" name="searchByPRODUCT" id="searchByPRODUCT" ng-model="searchByPRODUCT">
            <option value="{{order.order_id}}">All</option>
            <option ng-repeat="product in products" value="{{product.product_title}}">{{product.product_title}}</option>
          </select>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders | filter:{first_name:searchByFName,last_name:searchByLName,product_title:searchByPRODUCT}">
        <!-- <td>{{$index}}</td> -->
        <td>{{order.order_id}}</td>
        <td>{{order.first_name}}</td>
        <td>{{order.last_name}}</td>
        <td>{{order.order_method}}</td>
        <td>{{order.card_number}}</td>
        <td>{{order.product_title}}</td>
        <td>{{order.date_time}}</td>
        <td><button type="button" title="DELETE" class="btn btn-danger" data-toggle="modal" data-target="#myModal"
            ng-click="function_getId($index)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-danger">
        <h4 class="modal-title">DELETE ORDER</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="alert alert-info" ng-show="infoAlert">
          THIS RECORD CAN NOT BE DELETED!
        </div>
        <div class="alert alert-danger" ng-show="deleteAlert">
          ARE YOU SURE YOU WANT TO DELETE ORDER {{orders[getId].order_id}}..?
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button ng-show="!infoAlert" type="button" class="btn btn-danger"
          ng-click="function_deleteRow('orders',orders[getId].order_id)">DELETE</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>