<h3>Specifications: {{modeli[checkUrl].model_name}}</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="uploads/{{modeli[checkUrl].model_img}}" alt="{{modeli[checkUrl].model_img}}" width="300px" height="300px"/>
    </div>
    <div class="col-sm-2">
      <img src="uploads/{{modeli[checkUrl].model_img}}" alt="{{modeli[checkUrl].model_img}}" width="150px" height="150px"/>
    </div>
    <div class="col-sm-2">
      <img src="uploads/{{modeli[checkUrl].model_img}}" alt="{{modeli[checkUrl].model_img}}" width="150px" height="150px" />
    </div>
    <div class="col-sm-2">
      <img src="uploads/{{modeli[checkUrl].model_img}}" alt="{{modeli[checkUrl].model_img}}" width="150px" height="150px" />
    </div>
  </div>
    
  </hr>
  <div class="row">
    <div class="col-sm-6">
      <p><strong>Model: </strong>{{modeli[checkUrl].model_name}}</p>
      <p><strong>Marka: </strong>{{modeli[checkUrl].marka_name}}</p>
      <p><strong>Boja: </strong>{{modeli[checkUrl].color}}</p>
      <p><strong>Kilometri: </strong>{{modeli[checkUrl].km}} km</p>
      <p><strong>Cena:</strong> {{modeli[checkUrl].price}} EUR</p>
    </div>
    <div class="col-sm-6">
      <p><strong>Dopolnitelna oprema:</strong></p>
    </div>
  </div>
</div>